[package]
name = "ant-derive"
description = "Procedural macros for ANT crate"
authors = ["Curtis Malainey <curtis@malainey.com>"]
license = "MIT OR Apache-2.0"
version = "0.1.0"
edition = "2021"

[lib]
proc-macro = true

[dependencies]
syn = "2.0"
quote = "1.0"
proc-macro2 = "1.0"
