on: [push, pull_request]

jobs:
  clippy_check:
    name: Clippy
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: dtolnay/rust-toolchain@stable
        with:
            components: clippy
      - run: cargo clippy --no-deps -- -Dwarnings
      - run: cargo clippy --no-deps --all-features -- -Dwarnings

  docs:
    name: Docs
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: dtolnay/rust-toolchain@stable
        with:
            components: rust-docs
      - run: cargo doc --no-deps
      - run: cargo doc --no-deps --all-features

  format:
    name: Format
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: dtolnay/rust-toolchain@stable
        with:
            components: rustfmt
      - run: cargo fmt --check
  build_linux:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: dtolnay/rust-toolchain@stable
      - run: cargo build --release
      - run: cargo build --release --all-features
      - run: cargo build --example linux_usb
      - run: cargo build --example mac_usb --all-features
      - run: cargo build --example mac_usb_hr_display --all-features
      - run: cargo build --example no_std_ant --no-default-features
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: dtolnay/rust-toolchain@stable
      - run: cargo test --tests
